.posts{ 
 display: flex;
 flex-wrap: wrap;
}

.post{ 
  width: 30%;
  height: 25px;
  background-color: azure;
  margin-top: 2px;
  padding: 10px;
  border: 2px solid rgb(199, 187, 187);
  border-radius: 50px;
  text-align: center;
}