* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  align-items: center;
  background-color: rgb(29, 145, 229);
  color: #fff;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 1px solid #1d91e5;
  border-radius: 10px;
  width: 95vw;
  display: flex;
  justify-content: center;
}

.movies {
  background: linear-gradient(to bottom, black, darkblue);
  min-height: calc(100vh - 12vh);
  display: flex;
  justify-content: center;
  width: 100%;
}

/* HEADER */
.header {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #1b6ccf;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  width: 80%;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  z-index: 25;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 1;
  max-height: 500px;
  animation: anim 5s forwards;
}

@keyframes anim {
  from {
    background-color: #2ecc71;
    transform: translateX(-20%);
  }

  to {
    background-color: #2980b9;
    transform: translateX(-50%);
  }
}

.genre {
  color: #f6eeee;
  width: 130px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.genre:hover {
  color: #1d91e5;
  background-color: #fff;
}


.menu-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  /* Додали тінь */
}

.menu-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.menu-button.active {
  background-color: #2ecc71;
  transform: translateY(2px);
}

.menu-button .icon-bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: transform 0.3s ease;
}

.menu-button.active .icon-bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-button.active .icon-bar:nth-child(2) {
  opacity: 0;
}

.menu-button.active .icon-bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}


.menu-button::-moz-focus-inner {
  border: 0;
}

.menu-button:focus {
  outline: none;
}

.menu-button:active {
  transform: translateY(2px);
}

.user {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* CARD */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: transform 0.3s ease;
  width: 100%;
}

.card {
  color: aliceblue;
  width: 20%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  text-decoration: none;
  background-color: #100e22;

  box-shadow: 0 0 10px rgba(244, 241, 241, 0.8);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 220px;
  height: 100px;
  object-fit: cover;
  margin: 7px;
  border-radius: 10px;
}

.lng {
  color: rgb(160, 205, 220);
  font-weight: 700;
  text-transform: capitalize;
}

/* MOVIE */
.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e8eff4;
  padding-top: 10px;
}

.movie img {
  width: max-content;
  height: 300px;
  object-fit: contain;
  box-shadow: 0 0 10px rgba(244, 241, 241, 0.8);
  margin-top: 20px;
}

.info,
ol li {
  color: rgb(184, 193, 200);
}

.overview {
  text-indent: 20px;
  width: 80%;
  padding: 10px 0 10px 0;
}

.products {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.products img {
  width: 100px;
  height: 70px;
  object-fit: contain;
  background-color: #f3f7f9;
}

.view {
  font-size: 20px;
  background-color: #29235d;
  margin: 15px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(244, 241, 241, 0.8);
}


/* IMAGE */
.poster_preview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.poster_preview img {
  width: 250px;
  object-fit: contain;
  margin: 5px;
  transition: width 2s ease;
  cursor: pointer;
}

.poster_preview img:hover {
  transform: rotate(15deg);
}

.transition {
  width: 700px !important;
  height: 600px;
  position: fixed;
  top: 20px;
}