.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user {
  width: 40%;
  border: 2px solid gray;
  border-radius: 15px;
  margin: 10px;
padding: 20px;
}
.user-details, .user-address, .user-company{
margin-bottom: 10px;
display: flex;
flex-direction: column;
}

